@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

body {
    background-color: #FFBD00;
    color: black;
    margin: 20px;
    /*font-family: 'Open Sans', sans-serif;*/
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
    display: inline-flex;

}

.logo {
    float: top;
    width: 60px;
    height: auto;
    /*display: inline;*/

}

nav {
    margin-top: 10px;
    margin-left: 80px;
    /*margin-right: auto;*/
    /*width: 50%;*/
    list-style-type: none;
}

nav a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav.active a {
    background-color: white;
    color: black;
}

section.grid-container {
    width: 1000px;
    margin: 20px auto;
}

h2 {
    font-size: 30px;
    color: #800000;
    text-align: center;
    margin-top: 100px;
}

