@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFBD00;
    color: black;
    margin: 20px;
  }
header {
    text-align: center;
}

h1{
    font-size: 30px;
    display: inline-flex;
}
.logo {
    float: top ;
    width: 40px;
    height: auto;
    /*display: inline;*/

}
nav{
    flex: 1;
    margin-left: 100px;
    margin-right: 40px;
    list-style-type: none;
}
nav a{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 0px 30px 0px 30px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
nav a:hover{
    background-color: white;
    color: black;
}

main{
    margin: 40px auto;
}
section.grid-container{
    width: 1000px;
    margin: 30px auto;
}

footer{
    margin: 30px auto;
    background: black;
    text-align: center;
    font-family: "Open Sans";
    /*padding-top:10px;*/
    color: white;
}
.footer-bottom{
    background: black;
    width: 60vw;
    text-align: center;
    margin: 50px auto;
    margin-right: 10px;
    margin-left: 10px;
}
.footer-bottom p{
    margin: 0px 40px 0 50px;
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
